#lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px
}

form {
    margin-bottom: 20px;
    text-align: center;

}

input,
button {
    padding: 10px;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: hotpink;
}

.tarjeta {
    background-color: pink;
    color: hotpink;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
}